.headerParentDiv {
  padding: 10px;
  background-color: #ffce32; /* Apply dark yellow background */
  position: fixed;
  width: 100vw;
  z-index: 999;
  box-shadow: 0 20px 50px -10px rgba(0, 0, 0, 0.9), 0 20px 20px -10px rgba(0, 0, 0, 0.3); /* Add shadow similar to signup form */
}

.headerChildDiv {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.placeSearch {
  width: 16em;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  border: 2px solid #002f34;
  border-radius: 4px;
  background-color: white;
}

.placeSearch ::selection {
  border-color: #23e5db;
  outline-color: #23e5db;
}

.placeSearch input {
  border-color: transparent;
  outline-color: transparent;
}

.productSearch {
  width: 35em;
  height: 48px;
  margin-left: 2em;
  border-radius: 4px;
}

.language {
  height: 48px;
  display: flex;
  align-items: center;
}

.language span {
  font-size: 15px;
  font-weight: bolder;
  margin-right: 5px;
}

.span {
  text-decoration: none;
  font-size: 16px;
  font-weight: bolder;
  margin-right: 5px;
  cursor: pointer;
}

.sellMenu {
  position: relative;
  cursor: pointer;
}

.sellMenu .all {
  fill: white;
}

.sellMenu .top {
  fill: #23e5db;
}

.sellMenu .left {
  fill: #ffce32;
}

.sellMenu .right {
  fill: #3a77ff;
}

.sellMenu .sellMenuContent {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #002f34;
}

.sellMenu .sellMenuContent span {
  margin-left: 5px;
}

@media only screen and (max-width: 700px) {
  .placeSearch,
  .productSearch {
    display: none;
  }
}

.logout-span {
  cursor: pointer;
}

.dataResult-header {
  position: absolute;
  top: 60px;
  left: 85px;
  width: 16em;
  height: 150px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult-header .dataItem-header {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  color: black;
  font-size: smaller;
}

.dataItem-header p {
  margin-left: 10px;
}

.dataResult-header :hover {
  background-color: #ebeeef;
}

  